{$API_DOMAIN} {
    reverse_proxy api:4000
}

{$INNGEST_DOMAIN} {
    # Secures the Inngest dashboard with Basic Authentication
    basic_auth {
        admin {$INNGUEST_DASHBOARD_PASSWORD_HASH}
    }
    reverse_proxy inngest:8288
}
